<ul class="msgs" #chatMsgs>
  <li class="bot">
  Bonjour,  interrogez-moi sur les programmes Télé du jour !
  </li>
  <li
    *ngFor="let input of msgs"
    [ngClass]="{'user': input.type === 'user', 'bot': input.type === 'bot'}"
  >{{ input.msg }}</li>
  <li class="bot" *ngIf="botIsTyping">
    <span>.</span>
    <span>.</span>
    <span>.</span>
  </li>
</ul>

<div class="chat-input">
  <form (submit)="onSubmit()">
    <input [(ngModel)]="userMsg" name="userMsg" class="chat-input-text" type="text" placeholder="Que voulez vous savoir...?">
  </form>
</div>
