
.b-agent-demo .b-agent-demo_header-description {
    color: #B7BBC4;
    padding-left: 80px;
    padding-top: 7px;
    font-size: 12px;
    display: block;
    display: -webkit-box;
    max-height: 24px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-agent-demo_header-description #query {
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    height: 55px;
}

.b-agent-demo .b-agent-demo_header-agent-name {
    padding-left: 80px;
    font-size: 18px;
    color: white;
}


/* Zone d'input */
input[type="text" i] {
    padding: 1px 0px;
}
user agent stylesheet
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
Inherited from div.b-agent-demo
.b-agent-demo {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 100%;
    height: auto;
    color: #2b313f;
    font-size: 12px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}